<h3>Post Form</h3>
<form action="<%=posts_path%>" method="post">
<label>Post Title:</label> <input type="text" id="post_title" name="post[title]">
<label>Post Description:</label> <input type="text" id="post_description" name="post[description]">
<label>Submit:</label> <input type="submit" id="Submit" value="Submit Post">
</form>


<%# <%= params.inspect %> %>